PORT=8080

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=njara
DB_SSLMODE=disable

# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# JWT Configuration
JWT_SECRET=super_secret_njara_key_2026
JWT_TTL=24h

# Midtrans Configuration
MIDTRANS_MERCHANT_ID=your_merchant_id
MIDTRANS_CLIENT_KEY=your_client_key
MIDTRANS_SERVER_KEY=your_server_key
# Set to true for Sandbox (testing), false for Production
MIDTRANS_IS_SANDBOX=true

# MinIO Configuration
MINIO_ENDPOINT=https://minio.com
MINIO_ACCESS_KEY=access_key
MINIO_SECRET_KEY=secret_key
MINIO_BUCKET=emc-dev
MINIO_USE_SSL=true
MINIO_PUBLIC_URL=https://minio.com

INTERNAL_PORTAL_USER=username
INTERNAL_PORTAL_PASSWORD=password
